/* CSS declarations go here */
body {
  
  font-family: sans-serif;
  /*background-color: #315481;*/
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  /*background-image: linear-gradient(to bottom, #005400, #FFFFFF 100%);*/
  /*background-image: url("https://previews.123rf.com/images/venimo/venimo1501/venimo150100067/35963137-Vector-online-education-concept-in-flat-style-hand-holding-mobile-phone-with-educational-app-in-the--Stock-Vector.jpg");*/
/*https://previews.123rf.com/images/venimo/venimo1501/venimo150100067/35963137-Vector-online-education-concept-in-flat-style-hand-holding-mobile-phone-with-educational-app-in-the--Stock-Vector.jpg*/
  /*background-attachment: fixed;*/
 
  background-repeat: no-repeat;
    /*background-position: right top;*/
  width:100%; 
  height:100%;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
  flex: 1;
}
 
/*.render-target {
  
}*/
.render-target{
  background-color:rgba(0,255,255, 0.5);
  


}

.optionButton{
  /*position: absolute;*/
  width: 200px;
  max-width: 200px;
  height: 10vh;
  /*height: 50px;*/
  /*max-height: 100px;*/
  margin: 0 auto;
  
  background-color:rgba(0, 102, 102,0.9); 
  color: white;
  font-size: 20px;  
}
a{
  color: white;
  font-size: 15px;
}
.ButtonButtonsInner
{
  width: 20vw;
  margin: 0 auto;
}
.BottomButtons
{
     /*max-width: 600px;*/
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  background: rgba(0, 102, 102,0.9);
  align-content: center;
  align-items: center;
  display : table;
  width:  100%;
  table-layout:  fixed;
  vertical-align: middle;
}
.BottomButtons a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
}

.buttonGroup{

   max-width: 600px;
  height: 10vh;
  /*max-height: 100px;*/
  margin: 0 auto;
  /*max-height: 100%;*/
  background: white; 
}
.outerMostContainer{
  height: 100vh;
  width: 100vw;
}
.innerContainer{
  width: 600px; 
  height: 10vh;
  background: white;
 
}
.container {

    /*max-width: 100%;
  
  margin: 0 auto;
  min-height: 100%;
  background-image: url("./eddyBackGround.jpg");
  background-position: right top;*/

  /*max-width: 600px;*/


  /*background: white;*/
  /*background-color:rgba(255,255,255,0.5);*/

  /*position: absolute;*/

  width: 600px;
  height: 80vh;
  /*min-height: 80%;*/
  margin: 0 auto;
  background: white;

}
 
.eddyanimationArea {
  /*max-width: 600px;*/
  /*width: 100%;
  height: 100%;*/
  align-content: center;
  margin: 0;
  /*min-height: 100%;*/
  /*background: white;*/
  background-color:rgba(255,255,255, 0.5);
  background-image: url("eddyBackGround.jpg");
  max-height: 1200px;
  max-width: 400px;
    
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  /*opacity:  0.5;*/
  /*flex: 1;*/
}

.headerElements {
     /*max-width: 600px;*/
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  background: rgba(0, 102, 102,0.9);
  align-content: center;
  align-items: center;
  display : table;
  width:  100%;
  table-layout:  fixed;
  vertical-align: middle;
}
.headerElements h1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;

}

/*header {*/
  /*top: 0;*/
  /*background: #d2edf4;*/
  /*flex: 1;
  background: rgba(0, 102, 102,0.9);0, 102, 102*/
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  /*padding: 20px 15px 15px 15px;*/
    /*padding: 20px 15px 15px 15px;*/
    /*top right bottom left*/
    /*padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;*/
  /*position: fixed;
  width: 100%;
  min-width: 100%;
  color: #FFFFFF;
  opacity:  1;
  text-align: center;*/
  /*vertical-align: middle;*/
  /*text-anchor: middle;*/
  /*align-content: middle;*/
  /*font-size: 20px;
  height: 5vh;*/
/*}*/

footer {
  /*background: #d2edf4;*/
  /*bottom: 0;*/
  background: rgba(0, 102, 102,0.9);/*0, 102, 102*/
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  /*padding: 20px 15px 15px 15px;*/
    /*top right bottom left*/
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
  position: fixed;
  width: 100%;
  min-width: 100%;
  /*height: 20%;
  min-height: 50px;*/
  color: #FFFFFF;
  opacity:  1;
  text-align: center;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}
